body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:10%;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:10%;
    background-color:#F3F3F3;
}
.logout{
    background-color:transparent;
    color:#979797;
    border:none;
    outline:none;
}
.logout:hover{
    color: red;
}
.navbar{
    height:43px;
    background-color:white;
    border-bottom:1px solid #EDEDED ;
    color:#979797;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    overflow:hidden;

}
.navbar img{
    cursor:pointer;
}
.navbar a{
    padding-right:10px;
    text-align:center;
}
.navbar a:link,a:visited{
    text-decoration: none;
    color:#979797;
}
.navbar a:hover{
    color:black;
    cursor: pointer;
}
.navbar h3{
    margin-right:15px;
    padding-left:10px;
    
}
.navbar h3:hover{
    color:#8C8C8C;
    cursor:pointer;
}
.content_section{
    background-color:white;
    padding:10px 20px 10px 20px;
}
.table_data,.table_data td{
    border:1px solid #E3E3E3;
    font-size:11px;
}
.btn_rmv{
    width:100%;
    height:18px;
    background-image: url('../Images/kisspng-computer-icons-x-mark-check-mark-clip-art-red-x-5ac2fb83ead779.93595710152272781196192.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border:none;
    outline:none;
    transition:0.3s;
}
.btn_rmv:hover{
    background-position: center;
    background-repeat: no-repeat;
    color:transparent;
    border-right:2px solid red;
}
.table_prof{
    margin-bottom:20px; 
    width:100%;
    height:auto;
    border-right:10px solid  #FFA600;
    border-radius:2px;
    background-color:#F7F7F7;
}