body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:10%;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:10%;
    background-color:#F3F3F3;
}
.navbar{
    height:43px;
    background-color:white;
    border-bottom:1px solid #EDEDED ;
    color:#979797;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    overflow:hidden;

}
.logout{
    background-color:transparent;
    color:#979797;
    border:none;
    outline:none;
}
.logout:hover{
    color: red;
}
.navbar img{
    cursor:pointer;
}
.navbar a{
    padding-right:10px;
    text-align:center;
}
.navbar a:link,a:visited{
    text-decoration: none;
    color:#979797;
}
.navbar a:hover{
    color:black;
    cursor: pointer;
}
.navbar h3{
    margin-right:15px;
    padding-left:10px;
    
}
.navbar h3:hover{
    color:#8C8C8C;
    cursor:pointer;
}
table{
    margin-bottom:20px; 
    width:100%;
    height:auto;
    border-right:10px solid  #7081ED;
    border-radius:2px;
    background-color:#F7F7F7;
}
input,textarea,select{
    outline-color:black;
    border:1px solid black;
    padding:5px 5px 5px 5px;
    margin-bottom:20px;
    margin-top:10px;
}
.hired_active_projects{
    font-size: 15px;
    width:100%;
    margin:5px; 
    background-color:white;
    padding:10px; 
    border:1px solid #F7F7F7;
    outline: none;
    cursor:pointer;
    text-align: left;
    transition:0.3s;
}
.hired_active_projects:hover{
    border-left:10px solid #36C274;
    background-color:#F7F7F7;
}
.hired_closed_projects{
    font-size: 15px;
    width:100%;
    margin:5px; 
    background-color:white;
    padding:10px; 
    border:1px solid #F7F7F7;
    outline: none;
    cursor:pointer;
    text-align: left;
    transition:0.3s;
}
.hired_closed_projects:hover{
    border-left:10px solid #D65454;
    background-color:#F7F7F7;
}
.notifications{
    font-size: 15px;
    width:100%;
    text-align: left;
    background-color:#F7F7F7;
    border:1px solid #F3F3F3;
    margin:5px;
    padding:5px;
    transition:0.3s;
}
.notifications:hover{
    background-color:white;
    border-left:10px solid #36C274;
}