body{
    margin-top:5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#F3F3F3;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:10%;    
}
.navbar{
    height:43px;
    background-color:white;
    border-bottom:1px solid #EDEDED;
    color:#979797;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    overflow:hidden;

}
.navbar input{
    width:50%;
    outline-color:black;
    background-color:white;
    padding-top:4px;
    border:0.5px solid #E3E3E3;
    padding-left:4px;
    margin-right:80px;
    padding-bottom:4px;
    font-size:15px;

}
.navbar img{
    cursor:pointer;
}
.navbar a{
    padding-right:10px;
    text-align:center;
}
.navbar a:link,a:visited{
    text-decoration: none;
    color:#979797;
}
.navbar a:hover{
    color:black;
    cursor: pointer;
}
.navbar h3{
    margin-right:15px;
    padding-left:10px;
    
}
.navbar h3:hover{
    color:#8C8C8C;
    cursor:pointer;
}
.title{
    background-color:#D5F5E3; 
    display:inline;
}
.content{
    background-color:#DAF7A6;
}
.comment{
    background-color:#C3E6EF;
}
.answer{
    background-color:#EDEDED;
    padding:10px 5px 10px 5px;
    margin-top:15px; 
    text-align: justify;
}
.chat_text_sp{
    background-color:#F1F1FF;
    padding:2px 10px 2px 10px;
    margin-top:10px; 
    margin-right:100px;
    text-align: left;
    border-radius:5px;
}
.chat_text_cli{
    background-color:#E6FFE8;
    padding:2px 10px 2px 10px;
    margin-top:15px; 
    margin-left:100px;
    text-align: right;
    border-radius:5px;
}
.chat_text_sp_cli{
    background-color:#EAF8F8;
    padding:2px 10px 2px 10px;
    margin-top:10px; 
    margin-left:100px;
    text-align: right;
    border-radius:5px;
}
.chat_text_cli_cli{
    background-color:#E6FFE8;
    padding:2px 10px 2px 10px;
    margin-top:15px; 
    margin-right:100px;
    text-align: left;
    border-radius:5px;
}
textarea{
    width:100%;
    height:80px;
}
.content_section{
    background-color:white;
    padding:10px 20px 10px 20px;
}
.btn{
    width:80px;
    height:25px;
    margin:10px 0px 30px 0px;
    background-color: #CCCBF1;
    border:none;
    outline:none;
}
.btn:hover{
    border:1px solid grey;
}
.btn_accept{
    width:20%;
    height:30px;
    background-color: #D5F5E3;
    border:none;
    outline:none;
    transition:0.3s;
}
.btn_accept:hover{
    background-image: url('../Images/check-tick-icon-141462.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #36C274;
    color:transparent;
}
.btn_decline{
    width:20%;
    height:30px;
    background-color: #F6E0E0;
    border:none;
    outline:none;
    transition:0.3s;
}
.btn_decline:hover{
    background-image: url('../Images/12345.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #D65454;
    color:transparent;
}
.btn_status{
    width:20%;
    height:30px;
    background-color: #D5F5E3;
    border:none;
    outline:none;
    transition:0.3s;
}
.btn_status:hover{
    background-image: url('../Images/check-tick-icon-141462.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #36C274;
    color:transparent;
}
